<router-outlet></router-outlet>
<button (click)="showProgressSpinner()">asdas</button>

<button mat-raised-button color="primary" (click)="openDialog()" type="submit">Login</button>
<button mat-raised-button color="accent" type="submit">Login</button>
<button mat-raised-button color="basic" type="submit">Login</button>
<button mat-raised-button color="warn" type="submit">Login</button>
<button mat-raised-button color="dark" type="submit">Login</button>
<button mat-raised-button color="darklight" type="submit">Login</button>

changin GCPssss

<app-progress-spinner
 [color]="color" 
 [mode]="mode" 
 [value]="value" 
 [backdropEnabled]="true" 
 [positionGloballyCenter]="true"
 [displayProgressSpinner]="loading">
</app-progress-spinner>